body{
    background-color: rgb(211, 205, 195);
}


.container{
    text-align: center;
}


h1{
    font-weight: 800;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.Button{
    color: black;
    background-color: rgb(255, 0, 0);
    border-radius: 3px;
    font-size: 19px;
    cursor: pointer;
    border: solid 1px rgb(18, 19, 18);
}

input{
    outline: none;
    width: 350px;
    margin-right: 10px;
    border: solid 1px rgb(18, 19, 18);
    height:26px;
    font-size: 19px;
    background-color: black;
    color: white;
    border-radius: 3px;
}

